.dropzone {
  border-style: none;
  background-color: #EBECF0;
  box-shadow: inset -3px -3px 7px #ffffff,
  inset 3px 3px 5px #ceced1;
}

.dropzone .dz-preview.dz-image-preview{
  background:#EBECF0;
}

.dz-remove{
  color: #666666;
}

.dz-remove:hover{
  color:#333333;
}
/* ======================= */
.error {
  font-family: MerriweatherRegular;
  font-size: 30px;
  line-height: initial;
  text-align: center;
  color: transparent;
  background: #000000;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

#classTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

#classTable td, #classTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#classTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6D7587;
  color: white;
}

.container {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #EBECF0;
}

.row {
    padding-top: 20px;
}
/* ================================= */
#dropzone-wrapper{
  box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1;
}

.wrapper,
.wrapper .img-area{
  background: #EBECF0;
  box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #ceced1;
}

.wrapper{
  position: relative;
  width: 300px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.wrapper .img-area{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-area .inner-area{
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  border-radius: 50%;
}
.inner-area img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.wrapper .name{
  font-size: 23px;
  font-weight: 600;
  margin: 10px 0 5px 0;
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.wrapper .about{
  color: #44476a;
  font-weight: 400;
  font-size: 16px;
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.note {
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
/* =============== Submit Button ================== */
#submitBtn {
    /* width: 400px;
    height: 100px; */
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    color: #6D7587;
    background-color: #EBECF0;

    box-shadow: 3px 3px 8px rgba(55, 84, 170, .15),
                -3px -3px 8px rgba(255, 255, 255, 1),
                inset 0px 0px 4px rgba(255, 255, 255, .2),
                inset 7px 7px 15px rgba(55, 84, 170, 0),
                inset -7px -7px 20px rgba(255, 255, 255, 0),
                0px 0px 4px rgba(255, 255, 255, 0) 
}

#submitBtn:hover{
    background: #EBECF0;
    box-shadow: inset -3px -3px 7px #ffffff,
                inset 3px 3px 5px #ceced1;
}